@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: 	#073763;
    font-family: 'Roboto', sans-serif;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 40rem;
    max-width: 90%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 12px solid #9eced5;
    margin-top: auto;
    margin-bottom: auto;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .button {
    padding: 10px 20px;
    margin-bottom: 20%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;
  }

  .button:hover {
    box-shadow: none;
    background-color: #9eced5;
    transform: scale(1.05);
  }

  .qoute{
    text-align: center;
  }

  .qoute p {
    text-align: center;
    color: #505050;
    font-size: xx-large;
    padding-left: 5%;
    padding-right: 5%;
  }

  .qoute h1 {
    color: #505050;
  }
